.img {
    margin-top: 10px;
    margin-left:450px;
    margin-bottom: 0px;
    
    
}

.firstbox{
    
    background-color: rgb(238,238,238);
    height: 75px;
    margin: 0px 80px 0px 80px;
    display: block;
    text-align: -webkit-center;
    border-spacing: 2px;
    font-variant: normal;
    font-size:20px;
   
}
.box{
    float:left;
    padding:15px
}


.container{
    margin: 3px 80px 0px 80px;
    
    height:100px;
    font-size: 20px;
    
}
.leftbar{
   
    line-height:19px;
    height: 105px;
    background-color:rgb(126,229,218);
    width: 500px;
    padding:0px;
    text-align: -webkit-center;
}

.padding{
    padding-top: 5px;
}

.middlebar{
    float: left;
    line-height:20px;
    font-size: smaller;
    margin-left:3px;
    height: 75px;
    background-color:rgb(112,204,194);
    width: 200px;
    text-align: -webkit-center; 

}
.rightbar{
    text-align: -webkit-center;
    background-color: rgb(98, 179, 170);
    margin-left: 3px;
    height:75px;
    width:418px;
    line-height: 5px;
   

}

.text{
    text-align: -webkit-center;
}